/* .menu-container {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 6000;
} */

/* .exit-menu-button {
  position: fixed;
  top: 100px;
  color: var(--text-color);
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 30px;
  padding: 0;
  animation: translateExitButton 1s;
}

@keyframes translateExitButton {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
} */

/* .link-menu-container {
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 30px;
}

.link-menu-container a {
  color: var(--link-color);
  text-decoration: none;
  opacity: 0;
  transition: color 0.2s;
}

.link-menu-container a:hover {
  color: var(--text-color);
} */

/* .link1 {
  animation: revealLink 1s 0.1s forwards;
}

.link2 {
  animation: revealLink 1s 0.2s forwards;
}

.link3 {
  animation: revealLink 1s 0.3s forwards;
}

.link4 {
  animation: revealLink 1s 0.4s forwards;
}

.link5 {
  animation: revealLink 1s 0.5s forwards;
}

@keyframes revealLink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
} */

/* .menu-socials-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: fixed;
  bottom: 50px;
  animation: changeFontIcon 1s;
  font-size: 24px;
}

@keyframes changeFontIcon {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.menu-socials-icons a {
  color: var(--link-color);
  transition: color 0.2s;
}

.menu-socials-icons a:hover {
  color: var(--text-color);
}

.resume-container {
  display: flex;
  justify-content: center;
  gap: 10px;
} */
