/* HEADER */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  min-height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  backdrop-filter: none;
  -webkit-backdrop-filter: none;
  z-index: 100;
  transition: all 0.3s;
  /* box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2); */
}

.logo-btn-container {
  position: absolute;
  top: 10px;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  left: 0;
  box-sizing: border-box;
}

/* HEADER LOGO */

.header-logo {
  font-size: clamp(24px, 3vw, 30px);
  color: var(--color);
  font-weight: 700;
}

/* HEADER NAV */

.header-nav {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  padding: 0;
  margin: 0;
}

.header-nav a {
  font-size: 18px;
  color: var(--semi-transparent-color);
  transition: all 0.2s;
  opacity: 0;
  font-weight: 300;
}

.header-link-home {
  animation: revealLink 1s 0.1s forwards;
}
.header-link-skills {
  animation: revealLink 1s 0.15s forwards;
}
.header-link-projects {
  animation: revealLink 1s 0.2s forwards;
}
.header-link-contact-me {
  animation: revealLink 1s 0.25s forwards;
}
.header-link-resume {
  animation: revealLink 1s 0.3s forwards;
}
.header-link-resume-download {
  animation: revealLink 1s 0.3s forwards;
}

@keyframes revealLink {
  to {
    opacity: 1;
  }
}

.header-nav a:hover {
  color: var(--color);
}

.resume-container {
  display: flex;
  gap: 10px;
}

/* ACTIVE LINK SCROLL */

.active-link {
  color: var(--color) !important;
}

/* HEADER-SOCIALS */

.header-socials {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
  width: 50%;
  display: none;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
}

.header-socials a {
  color: var(--semi-transparent-color);
  transition: all 0.2s;
  height: 0px;
  overflow: hidden;
}

.social-github {
  animation: revealSocial 0.5s 0.5s forwards;
}
.social-instagram {
  animation: revealSocial 0.5s 0.6s forwards;
}
.social-facebook {
  animation: revealSocial 0.5s 0.7s forwards;
}
.social-twitter {
  animation: revealSocial 0.5s 0.8s forwards;
}
.social-twitch {
  animation: revealSocial 0.5s 0.9s forwards;
}
.social-linkedin {
  animation: revealSocial 0.5s 1s forwards;
}

@keyframes revealSocial {
  to {
    height: 26.4px;
  }
}

.header-socials a:hover {
  color: var(--color);
}

/* HEADER SCROLL */

.header-scroll {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background: var(--glass-background);
  left: 10px;
  right: 10px;
  top: 10px;
  border-radius: 50px;
  /* box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1); */
}

@media screen and (max-width: 900px) {
  .header-nav {
    display: none;
  }
}
