.portfolio-container {
    width: 100%;
    min-height: 100vh;
    padding-top: 100px;
    text-align: center;
    color: var(--color);
}

.portfolio-info {
    font-size: clamp(30px, 5vw, 50px);
    font-weight: 500;
    margin: 25px 0;
    opacity: 0;
    transform: translateY(30px);
}

.reveal-info {
    opacity: 1;
    transform: translateY(0px);
    transition: all 0.75s;
}

.portfolio-grid-container {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 400px);
    gap: 25px;
}

@media screen and (max-width: 1300px) {
    .portfolio-grid-container {
        grid-template-columns: repeat(2, 400px);
    }
}
@media screen and (max-width: 900px) {
    .portfolio-grid-container {
        grid-template-columns: 400px;
    }
}
