.h0 {
    background-color: #0d174c;
}
.h1 {
    background-color: #0e2e5e;
}
.h2 {
    background-color: #0d3a64;
}
.h3 {
    background-color: #0d4d71;
}
.h4 {
    background-color: #286a87;
}
.h5 {
    background-color: #3f8ba4;
}
.h6 {
    background-color: #43adb4;
}
.h7 {
    background-color: #70cbc0;
}
.h8 {
    background-color: #cbdb8d;
}
.h9 {
    background-color: #e6e882;
}
.h10 {
    background-color: #f8e968;
}
.h11 {
    background-color: #f5de62;
}
.h12 {
    background-color: #fbcd59;
}
.h13 {
    background-color: #fcbd42;
}
.h14 {
    background-color: #f48f57;
}
.h15 {
    background-color: #f17373;
}
.h16 {
    background-color: #d94ea2;
}
.h17 {
    background-color: #bc46b0;
}
.h18 {
    background-color: #a623c6;
}
.h19 {
    background-color: #8926c6;
}
.h20 {
    background-color: #6e1dbf;
}
.h21 {
    background-color: #5020a0;
}
.h22 {
    background-color: #331686;
}
.h23 {
    background-color: #090d65;
}
