.h0 {
  background-color: #0d174c !important;
}
.h1 {
  background-color: #0e2e5e !important;
}
.h2 {
  background-color: #0d3a64 !important;
}
.h3 {
  background-color: #0d4d71 !important;
}
.h4 {
  background-color: #286a87 !important;
}
.h5 {
  background-color: #3f8ba4 !important;
}
.h6 {
  background-color: #43adb4 !important;
}
.h7 {
  background-color: #70cbc0 !important;
}
.h8 {
  background-color: #cbdb8d !important;
}
.h9 {
  background-color: #e6e882 !important;
}
.h10 {
  background-color: #f8e968 !important;
}
.h11 {
  background-color: #f5de62 !important;
}
.h12 {
  background-color: #fbcd59 !important;
}
.h13 {
  background-color: #fcbd42 !important;
}
.h14 {
  background-color: #f48f57 !important;
}
.h15 {
  background-color: #f17373 !important;
}
.h16 {
  background-color: #d94ea2 !important;
}
.h17 {
  background-color: #bc46b0 !important;
}
.h18 {
  background-color: #a623c6 !important;
}
.h19 {
  background-color: #8926c6 !important;
}
.h20 {
  background-color: #6e1dbf !important;
}
.h21 {
  background-color: #5020a0 !important;
}
.h22 {
  background-color: #331686 !important;
}
.h23 {
  background-color: #090d65 !important;
}
